@model EventManager.ViewModels.Models.CreateEventViewModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create New Event</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="EventName" class="control-label"></label>
                <input asp-for="EventName" class="form-control" />
                <span asp-validation-for="EventName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger" style="width:500px"></span>
            </div>
            <div class="form-group">
                <label asp-for="AddressViewModel.AddressName" class="control-label"></label>
                <input asp-for="AddressViewModel.AddressName" class="form-control" />
                <span asp-validation-for="AddressViewModel.AddressName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AddressViewModel.CityViewModel.CityName" class="control-label"></label>
                <input asp-for="AddressViewModel.CityViewModel.CityName" class="form-control" />
                <span asp-validation-for="AddressViewModel.CityViewModel.CityName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AddressViewModel.CityViewModel.Countries" class="control-label"></label>
                <select asp-for="AddressViewModel.CityViewModel.CountryCode" asp-items="@(new SelectList(Model.AddressViewModel.CityViewModel.Countries, "CountryCode","Name"))">
                    <option>Please select one</option>
                </select>
                <span asp-validation-for="AddressViewModel.CityViewModel.Countries" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Link" class="control-label"></label>
                <input asp-for="Link" class="form-control" />
                <span asp-validation-for="Link" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
